html, body {
  height: 100%;
  width: 100%;
  padding: 0;

}

/* Carrousel */
#bgCarousel {
  z-index: -1;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.carousel-indicators li {
  border-radius: 50%;
}

.ceo {
  padding: 45px 0;
}

#sambutan {
  background-color: #eaba3a;
  display: inline-block;
  padding: 5px;
  color: #fff;
  font-size: 18px;
}

.footer1 {
  background-color: #03153e;
}

.footer2 {
  background-color: #020e28;
}

.grayLink a,
.grayLink a:visited {
  text-decoration: none;
  color: gray;
}

.grayColor {
  color: gray;
}
