body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.head {
  position: absolute;
}

.bg-custom {
  background: transparent !important;
  transition: 500ms;
}

.bg-custom.scrolled {
  background: white !important;
}

.nav-link {
  color: white;
  transition: 500ms;
}

.nav-link.scrolled {
  color: rgb(63, 63, 63);
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.bg-white{
  background-color: white;
}

.bgCarousel {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

.bgCarousel:hover {
  cursor: w-resize;
}

.parallax-text {
  position: fixed;
  color: white;
  z-index: -1;
  top: 150px;
  left: 100px;
  width: 500px;
}

.custom-btn {
  text-decoration: none;
  padding: 15px;
  color: white;
  display: inline-block;
}

/* .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100vh;
  min-height: 350px;
  background: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.swiper-slide:hover {
  cursor: w-resize;
} */

.flyText {
  background-color: rgba(255, 255, 255, 0.514);
  width: 400px;
  padding: 20px;
  right: 150px;
  bottom: 80px;
  position: absolute;
}

.text-primary {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.ceo {
  padding: 45px 0;
}

#sambutan {
  background-color: #eaba3a;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

.footer1 {
  background-color: #03153e;
}

.footer2 {
  background-color: #020e28;
}

.grayLink a,
.grayLink a:visited {
  text-decoration: none;
  color: gray;
}

.grayLink a:hover {
  color: #bcbcbc;
  text-decoration: none;
}

.grayColor {
  color: gray;
}
