html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.sidebar {
  background-color: #2d2d2dff;
  height: 100%;
  padding: 0;
}

.user {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 80%;
  background-color: gainsboro;
  border-radius: 5px;
}

.user i {
  font-size: 75px;
}

.user-info {
  padding: 10px;
}

.list-group-item {
  border: none;
  background-color: #2d2d2dff;
  color: lightgray;
  text-decoration: none;
  padding-right: 0;
}

.list-group-item:hover {
  background-color: rgb(80, 80, 80);
  color: white;
  text-decoration: none;
}

.list-group-item.active {
  background-color: orange;
}

.search {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
  margin-bottom: 10px;
}

.search::placeholder {
  text-align: center;
}

.content {
  background: url(../img/logo_gray.png);
  background-repeat: no-repeat;
  background-size: 60%, 60%;
  background-position: center;
}

.table th {
  color: white;
}

.table tbody tr a,
.table tbody tr {
  cursor: pointer;
}

.table th,
.table tbody tr td {
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tr:hover {
  background-color: rgba(255, 166, 0, 0.329);
}

.pop {
  background-color: rgba(0, 0, 0, 0.199);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  transition: all 200ms;
}

#pop-up {
  background-color: white;
  padding: 20px;
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

.create {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 50px;
}

.create:hover > i {
  transform: rotate(90deg);
  transform-origin: center;
  transition: all 300ms ease-in-out;
}