html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

az.navbar-brand:hover > .fa-arrow-circle-left {
  transform: rotate(360);
  transition-duration: 200ms;
}

.navbar-brand:hover > .navbar-brand {
  background-color: orange;
  transition: 200ms;
}

.judul {
  border-radius: 3px;
}

.judul::placeholder {
  text-align: center;
}